#coronaPage{
  display:flex;
  justify-content: center;
  flex-direction:column;
  width:100%;
  background:#f5f5f5;
  padding-bottom:40px;
}

#coronaPage h2, #coronaPage h3, #coronaPage h4{
  line-height:1.4;
}
#coronaPage button{
  text-align: initial;
color: initial;
border: 0;
-webkit-appearance: none;
background-color: transparent;
padding: 0;
margin: 0;
font-size: initial;
font-weight: initial;
font-size: initial;
}
#coronaPage a{
  text-decoration:none;
}
#coronaPage a:hover{
  cursor:pointer;
}
#coronaPage{
  letter-spacing: -0.25px;
}
#coronaPage p a, #coronaPage .coronaHiperlink{
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  letter-spacing: -0.25px;
  color:#0164BF;
}
#coronaPage strong{
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  display:inline;
}
#coronaPage section#coronaTop{
  width:100%;
  background:url("https://i.imgur.com/QxGlglp.png") 100% -40px no-repeat, #FFA202;
  padding-top:32px;
  padding-bottom:84px;
}
#coronaPage .coronaContainer{
  width: 100%;
  max-width: 1260px;
  margin:0 auto;
  padding:0 40px;
}
#coronaPage .coronaBreadcrumb{
  padding-bottom:22px;
}
#coronaPage .coronaBreadcrumb ul li{
  display:inline-block;
  color:#fff;
  position:relative;
}
#coronaPage .coronaBreadcrumb ul li:last-child{
  display:inline-block;
  color:#fff;
  position:relative;
  margin-left:20px;
}
#coronaPage .coronaBreadcrumb ul li a{
  color:#fff;
  letter-spacing: -0.25px;
  font-size:14px;
}
#coronaPage .coronaBreadcrumb ul li svg{
  position:absolute;left:-15px;transform: scale(0.8) translateY(1px);
}
#coronaPage .coronaTitle{
  width:100%;
  padding-bottom:26px;
}
#coronaPage .coronaTitle h1{
  font-size:32px;
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  color:#fff;
  letter-spacing: -0.25px;
}
#coronaPage .coronaTextIntro{
  background-color:#fff;
  padding:26px;
  border-radius:3px;
  box-shadow:0px 4px 10px rgba(0,0,0,.08);
  margin-top:-84px;
  margin-bottom:42px;
}
#coronaPage .coronaTextIntro p{
  font-size:16px;
  color:#333333;
  letter-spacing: -0.25px;

}
#coronaPage .coronaFullWidth{
  width:100%;
}
#coronaPage #coronaContent .coronaContainer{
  width:100%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}

#coronaPage #coronaContent .coronaOneThird{
width:33.333333%;
}

#coronaPage #coronaContent .coronaTwoThird{
width:66.66666667%;
}

#coronaPage #coronaContent .coronaOneThird .coronaTabsList{
  width:100%;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button{
  width:100%;
  text-align:left;
  background:none;
  box-shadow:none;
  -webkit-appearance:none;
  border:0;
  padding:16px;
  font-size:16px;
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  /* border:0; */
  border-style: inset;
  border-bottom:1px solid #d9d9d9;
  transition: color .3s, background-color .3s, padding-left .6s;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button.Tabs1{
  /* border-color:transparent; */
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs:hover button{
  color:#0164BF;
  cursor:pointer;
  padding-left:20px;
  transition: color .3s, background-color .3s, padding-left .3s;
}

#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs:hover button.coronaActiveTab{
  cursor:default;
  padding-left:16px;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs:hover button .coronaArrowIcon svg #ArrowCorona{
  fill:#0164BF;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button.coronaActiveTab{
  background-color:#0164BF;
  border-radius:3px;
  color:#fff;
  /* border:0;
  margin:1px 0; */
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs{
  position:relative;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button .coronaArrowIcon{
  position:absolute;
  right:20px;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button.coronaActiveTab .coronaArrowIcon svg #ArrowCorona{
  fill:#fff;
}
#coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button .coronaArrowIcon svg #ArrowCorona{
  fill:#828282;
}

#coronaPage .coronaTabsContents{
  padding:0 0 0 28px;
}

#coronaPage h2{
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  font-size:22px;
  color:#333333;
  margin-bottom:8px;
  letter-spacing: -0.25px;
}
#coronaPage p{
  font-size:16px;
  color:#333333;
  letter-spacing: -0.25px;
  margin-bottom:8px;
}

#coronaPage p {
  line-height:1.4;
}
#coronaPage p b{
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  letter-spacing: -0.25px;
}

#coronaPage p small{
  font-size:14px;
  color:#333333;
  letter-spacing: -0.25px;
  /* line-height:14px; */
}

#coronaPage h3{
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  font-size:18px;
  color:#333333;
  letter-spacing: -0.25px;
  margin-bottom:8px;
}

#coronaPage .coronaPrioridadesContent{
  padding-top:22px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
  align-items:stretch;
}

#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks{
  background:#fff;
  border-radius:3px;
  margin-right:10px;
  margin-top:10px;
  box-shadow:0px 4px 10px rgba(0,0,0,.08);
  transition: transform .6s, box-shadow .8s;
  align-self:stretch;
  height:100%;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks:hover{
  transform:translateY(-4px);
  box-shadow:0px 8px 14px rgba(0,0,0,.08);
  transition: transform .3s, box-shadow .6s;
  cursor:pointer;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks.highPriority .coronaPriorityIndicator{
  background-color:#FF2723;
  border-radius:3px 3px 0px 0px;
}

#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks.highPriority h3{
  color:#FF2723;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks.midPriority .coronaPriorityIndicator{
  background-color:#FF9100;
  border-radius:3px 3px 0px 0px;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks.midPriority h3{
  color:#FF9100;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks.lowPriority .coronaPriorityIndicator{
  background-color:#74B252;
  border-radius:3px 3px 0px 0px;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks.lowPriority h3{
  color:#74B252;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks .coronaPriorityIndicator{
  width:100%;
  height:5px;
  transition: height .6s;

}

#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks:hover .coronaPriorityIndicator{
  height:12px;
  transition: height .3s;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks .coronaPriorityContent{
  padding:16px 16px 22px;
}

#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks .coronaPriorityContent h3{
  padding-bottom:16px;
}

#coronaPage .coronaFade{
    animation:opac 0.3s
}
@keyframes opac {
    from {
        opacity:0
    }
    to {
        opacity: 1
    }
}

#coronaPage .coronaAirCias{
  margin-top:28px;
}
#coronaPage .coronaAirCias li{
  background:#ffffff;
  display:flex;
  padding:12px;
  border-radius:6px;
  box-shadow:0px 4px 10px rgba(0,0,0,.08);
  align-items: baseline;
  position:relative;
  margin-bottom:12px;
}
#coronaPage .coronaAirCias .coronaCiaLogo{
  flex-grow:1;
}
#coronaPage .coronaAirCias h3{
  align-self: center;
  margin-bottom:0;
  margin-left:8px;
  flex-grow:50;
  font-size:16px;
}
#coronaPage .coronaAirCias li .coronaArrowIcon{
transform:translateY(-8px) translateX(-12px);
transition: transform .8s;
}
#coronaPage .coronaAirCias li .coronaArrowIcon svg #ArrowCorona{
  fill:#0164BF;
}
#coronaPage .coronaAirCias li{
  transition: transform .8s;
}
#coronaPage .coronaAirCias li:hover{
  transform: translateX(8px);
  transition: transform .3s;
}
#coronaPage .coronaAirCias li:hover .coronaArrowIcon{
  transform:translateY(-8px) translateX(-8px);
  transition: transform .3s;
}
#coronaPage .coronaDesktop {
  display:flex;
}
#coronaPage .coronaMobile{display:none;}

#coronaPage .coronaMobilebr{display:none;}

#coronaPage .coronaModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0);
}

#coronaPage .closeCorona {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
  margin-top: -10px;
}

#coronaPage .closeCorona:hover,
#coronaPage .closeCorona:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#coronaPage .desktopCoronaInline{
  display:inline;
}
#coronaPage .mobileCoronaInline{
  display:none;
}
#coronaPage .coronaModalTitle {
  padding: 22px;
  text-align: center;
  border:0;
  border-bottom-width:1px;
  border-color:#d4d4d4;
  border-style: solid;
}

#coronaPage .coronaModalTitle h2{
  font-family:ProximaNova-Regular,ProximaNovaA-Regular,ProximaNovaS-Regular;
  font-size:18px;
  margin:0;
}

#coronaPage .modal-body {padding: 2px 16px;}

#coronaPage .modal-footer {
  padding: 2px 16px;
}

#coronaPage .coronaModalArea {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* animation-name: animatetop; */
  /* animation-duration: 0.4s */
  border-radius:10px;
  top:20px;
  z-index:2;
}
#coronaPage .coronaModalContent{
padding:22px;
}
#coronaPage .coronaModalContent h3{
  font-size:18px;
  margin-bottom:18px;
}
#coronaPage #Prioridade-2 .coronaModalContent h3{
  color:#FF9E00;
  letter-spacing:-0.25px;
}
#coronaPage #Prioridade-3 .coronaModalContent h3{
  color:#74B252;
}
#coronaPage .coronaModalContent article{
  padding:22px 16px;
  border-radius:10px;
  box-shadow:0px 0px 8px rgba(0,0,0,0.12);
  margin-bottom:24px;
}
#coronaPage #Prioridade-2 .coronaModalContent article h3{
  font-size:18px;
  color:#333;
  margin-bottom:8px;
}

#coronaPage .coronaModalContent article h4{
  font-size:16px;
  font-family:ProximaNova-Semibold,ProximaNovaA-Semibold,ProximaNovaS-Semibold;
  margin-bottom:0px;
  letter-spacing:-0.25px;
  color:#333;
}
#coronaPage .coronaModalContent article p{
  font-size:16px;  letter-spacing:-0.25px;
  margin-bottom:12px;
}
#coronaPage .coronaModalContent article p:last-child{
  margin-bottom:0px;
}
#coronaPage .coronaModalContent article h4 span{
color:#0074D4}

.coronaCiaLogo svg{
  /* display:none; */
  opacity:0;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-content:stretch;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias .coronaCiax3{
  border:1px solid #d9d9d9;
  display:flex;
  flex-direction:column;
  border-radius:3px;
  padding:8px;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias .coronaCiax3 span{
  text-align:center;
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  letter-spacing: -0.25px;
  color:#0164BF;
  font-size:14px;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias a{
text-decoration: none;
width: auto;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias a img{
  width:76px;
  align-self: center;
  margin-bottom:8px;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias .coronaCiax3{
  margin-right:20px;
  transition: transform .3s;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias .coronaCiax3:hover{
  cursor:pointer;
  transform:scale(1.04);
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias{
  margin-bottom:20px;
}
#coronaPage #Prioridade-2 .coronaModalContent ul{
  padding-left:0px;
}
#coronaPage #Prioridade-2 .coronaModalContent ul li{
  margin-bottom:8px;
  color:#333;
  font-size:16px;
  letter-spacing:-0.25px;
  line-height:1.2;
}
#coronaPage #Prioridade-2 .coronaModalContent ul li a{
  font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
  letter-spacing: -0.25px;
  color:#0164BF;
}
#coronaPage .modalContent ol li h4{
  margin-bottom:6px;
}
#coronaPage .modalContent ol li{
  margin-bottom:22px;
  font-size:16px;
  line-height:1.2;
  color:#333;
}

#coronaPage .modalContent ol li ul li{
  margin-bottom:12px;
}
#coronaPage .modalContent ol li a{
font-family:ProximaNova-SemiBold,ProximaNovaA-SemiBold,ProximaNovaS-SemiBold;
letter-spacing: -0.25px;
color:#0164BF;
}

#coronaPage #coronaScrolltoTop{
  background-color: #0164BF;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding:14px;
  border-radius:3px;
  box-shadow:0px 1px 6px rgba(0,0,0,.3);
  cursor:pointer;
  transition: transform .8s, background-color .3s ;
}

#coronaPage #coronaScrolltoTop:hover{
  background-color: #00519c;
  transform:translateY(-8px);
  transition: transform .2s, background-color .3s ;
}
#coronaPage .backdrop{
  position:fixed;
  display:block;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.4);
  top:0;
  right:0;
  z-index:1;
}
