
@media screen and (max-width:800px){
#coronaPage .coronaContainer{
  padding:0 20px;
}
#coronaPage #coronaContent .coronaOneThird{
  width:100%;
}
#coronaPage section#coronaTop{
  padding-bottom:120px;
}
#coronaPage .coronaTextIntro{
  margin-top:-120px;
  margin-bottom: 20px;
}
#coronaPage .coronaBreadcrumb ul li svg {
position: absolute;
left: -15px;
transform: scale(0.7) translateY(0px);
}
#coronaPage .CoronaMobilePages .coronaBreadcrumb ul li svg {
position: absolute;
left: -15px;
transform: scale(0.9) translateY(2px);
}
#coronaPage .coronaTabsResults{
  display:none;
}
#coronaPage .coronaPrioridadesContent .coronaPrioritysBlocks{
  margin-right: 0;
  height: auto;
  margin-bottom: 10px;
}
#coronaPage .coronaMobile{display:flex; width:100%;}
#coronaPage .coronaDesktop{display:none;}
#coronaPage .coronaBreadcrumb ul li:last-child {
display: inline-block;
color: #333;
position: relative;
margin-left: 20px;
}

#coronaPage .coronaBreadcrumb ul li svg #arrowLeftCorona{
  fill:#333333;
}

#coronaPage .coronaMobilePages .coronaBreadcrumb ul li svg {
position: absolute;
left: -15px;
top: 2px;
}
.CoronaMobilePages{
  width:100%;
}
#coronaPage .coronaModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255,255,255,1);
}
#coronaPage .coronaModalArea{
  width: 100%;
  box-shadow:none;
  top:0;
}
#coronaPage .coronaModalTitle{
  padding:19px 0px 10px;
  height:auto;
}
#coronaPage .coronaModalTitle h2{
  padding-left: 20px;
}
#coronaPage .closeCorona{
padding-right: 20px;
}

#coronaPage .coronaPrioridadesContent .coronaOneThird{
  width:100%;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias a{
text-decoration: none;
width: 30%;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias a.midCoronaMargin{
  margin:0px 4.5%;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:stretch;
  margin-bottom: 20px;
}
#coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias .coronaCiax3{
  margin:0;
}
#coronaPage .coronaModalContent{
  padding-top:90px;
}
#coronaPage .coronaModalTitle{
  position:fixed;
  background:#fff;
}
#coronaPage .CoronaMobilePages .coronaBreadcrumb ul li:last-child{
padding: 20px 20px 20px 0px;
}
#coronaPage .CoronaMobilePages .coronaBreadcrumb ul li:last-child:hover{
  cursor:pointer;
}
#coronaPage .desktopCoronaInline{
  display:none;
}
#coronaPage .mobileCoronaInline{
  display:inline;
}
#coronaPage .backdrop{
  background-color:rgba(255,255,255,1);
}
}
@media screen and (max-width:520px){
  #coronaPage section#coronaTop {
  background: url("https://i.imgur.com/QxGlglp.png") 160% 0px no-repeat, #FFA202;
  }
}
@media screen and (max-width:375px){
  #coronaPage section#coronaTop {
  background: url("https://i.imgur.com/QxGlglp.png") 200px 0px no-repeat, #FFA202;
  }
  #coronaPage .coronaTitle h1{
    font-size:28px;
  }
  #coronaPage .coronaMobilebr{display:none;}
}
@media screen and (max-width:360px){
  #coronaPage .coronaTitle h1{
    font-size:26px;
  }
  #coronaPage #Prioridade-2 .coronaModalContent .flexCoronacias a img{
    width:56px;
    height:auto;
  }
}
@media screen and (max-width:320px){
  #coronaPage #coronaContent .coronaOneThird .coronaTabsList .coronaTabs button{
  font-size:14px;
  }
}
